<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container w-100">
        <form method="POST" action="/materias">
            <div class="row g-3">
                    <h4 class="fw mb-3 text-uppercase">Listado de Materias</h4>
                    <div class="col-sm-5">
                        <label for="campo" class="form-label">Buscar materia</label>
                        <input type="text" class="form-control" name="mat" placeholder="" value="">
                    </div>

                    <div class="col-sm-4">
                        <label for="idarea" class="form-label">Carrera a la que pertenece</label>
                        <select class="form-select" name="carr" required>
                        {{#each carreras}}
                                <option value="{{idcarrera}}">{{nombre}}</option>
                        {{/each}} 
                        </select>
                    </div>
                    <div class="col"><br><a class="btn btn-primary" href="">Buscar</a></div>
                    <div class="col"><br><a class="btn btn-primary" href="/practicas/agregar_materia">Agregar nueva</a></div>
            </div>

        </form>

        <div class="bg-white p-5 rounded-5 container" style="width:100; height:550px; overflow: scroll;">
        <table class="table table-primary table-responsive">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="text-center">Clave </th>
                <th scope="col" class="text-center">Materia</th>
                <th scope="col" class="text-center">Carrera</th>
                <th scope="col" class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody>
                {{#each materias}}
            <tr>
                <td class="text-center" scope="row">{{clave}}</td>
                <td class="text-center" >{{materia}}</td>
                <td class="text-center" >{{carrera}}</td>
                <td class="text-center"><a class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar?');" href="materias/eliminar/{{clave}}"><i class="bi bi-trash3"></i></a></td>
              </tr>

                {{else}}
                    <div class="alert alert-warning text-center" role="alert">
                         No se encontraron registros
                    </div>
                 {{/each}} 
            
        </tbody>
</table> 
