<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container w-100" id="miContenedor">
        <form method="POST" action="">
            <div class="row g-3">
                <h4 class="fw mb-3 text-uppercase">Practicas programadas</h4>
                <div class="col-sm-4">
                    <label for="idarea" class="form-label">Area del laboratorio</label>
                    <select class="form-select" id="area" required>
                        {{#each areas}}
                            <option value="{{idarea}}">{{nombre}}</option>
                        {{/each}} 
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid area.
                    </div>
                 </div>

                 <div class="col-sm-4">
                    <label for="idarea" class="form-label">Periodo de tiempo</label>
                    <select class="form-select" id="time" onchange="periodo()" required>
                        <option value="HOY" selected="true">Hoy</option>
                        <option value="SEMANA">Semana actual</option>
                        <option value="MES">Este mes</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid area.
                    </div>
                 </div>

                <div class="col-3 d-grid gap-2 d-md-block">
                    <br>
                    <a href="#" class="btn btn-primary ">Buscar</a>
                    <a href="practicas/nueva_practica" class="btn btn-secondary">Agregar practica</a>
                </div>
            </div>     
        </form>

            
        <div>
            <div class="container p-4" id="HOY">
                <div class="row">
                    {{#each practicas}}
                    <div class="col-md-12">
                        <div class="card text-center">
                            <div class="card-body">
                                <a href="{{url}}" target="_blank">
                                    <h4 class="card-title text-uppercase">
                                        {{practicaname}}
                                    </h4>
                                    <h5>
                                        {{horainicio}}
                                    </h5>
                                </a>
                                <p class="m-2">{{area}}</p>
                                <a class="btn btn-primary" href="/practicas/edit/{{folio}}">
                                    Detalles de practica
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>There are not practicas saved yet.</p>
                            <a href="/practicas/nueva_practica">Create One!</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="container p-4 d-none" id="SEMANA">
                <div class="row">
                    {{#each practicasweek}}
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <a href="{{url}}" target="_blank">
                                    <h4 class="card-title text-uppercase">
                                        {{practicaname}}
                                    </h4>
                                    <h5>
                                        {{horainicio}}
                                    </h5>
                                </a>
                                <p class="m-2">{{area}}</p>
                                <a class="btn btn-primary" href="/practicas/edit/{{folio}}">
                                    Detalles de practica
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>There are not practicas saved yet.</p>
                            <a href="/practicas/nueva_practica">Create One!</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="container p-4 d-none" id="MES">
                <div class="row">
                    {{#each practicasmonth}}
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <a href="{{url}}" target="_blank">
                                    <h4 class="card-title text-uppercase">
                                        {{practicaname}}
                                    </h4>
                                    <h5>
                                        {{horainicio}}
                                    </h5>
                                </a>
                                <p class="m-2">{{area}}</p>
                                <a class="btn btn-primary" href="/practicas/edit/{{folio}}">
                                    Detalles de practica
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>There are not practicas saved yet.</p>
                            <a href="/practicas/nueva_practica">Create One!</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    <script>
        function periodo(){
                var tipo = document.getElementById("time").value;

                if(tipo == "HOY"){
                    document.getElementById("SEMANA").className = "table d-none";
                    document.getElementById("MES").className = "table d-none";
                    document.getElementById("HOY").className = "table";
                }else if(tipo == "SEMANA"){
                    document.getElementById("SEMANA").className = "table";
                    document.getElementById("HOY").className = "table d-none";
                    document.getElementById("MES").className = "table d-none";
                }else if(tipo == "MES"){
                    document.getElementById("SEMANA").className = "table d-none";
                    document.getElementById("MES").className = "table";
                    document.getElementById("HOY").className = "table d-none";
                }
            } 

            document.getElementById("area").addEventListener("change", function() {
                // Obtener el valor seleccionado
                var selectedOption = this.value;

                // Realizar una llamada a la ruta del servidor para obtener los datos
                fetch("/practicas/practicas_registradas/" + selectedOption)
                    .then(response => response.text())
                    .then(data => {
                        // Cargar la vista renderizada en el cliente
                        document.getElementById("miContenedor").innerHTML = data;
                    });
            });
        </script>
</body>