<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
  <div class="album py-5 bg-dark vh-100">
    <div class="bg-white p-5 rounded-5 container">
    <a href="/practicas/gestion" class="d-flex" aria-current="true">
        <i class="bi-arrow-left-circle" style="font-size: 2rem; color: #000000;"></i>
    </a>
       <h3 class="text-center fw-bold mb-2 text-uppercase">menú</h3>
       <h4 class="text-center fw-bold mb-2 text-uppercase">¿De que area desea listar las practicas?</h4>
        <div class="list-group w-auto">

            {{#each areas}}
            <a href="/practicas/listar/{{idarea}}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi-{{num}}-square" style="font-size: 2rem; color: #0011ff;"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{nombre}}</h6>
                    <p class="mb-0 opacity-65">Tiene una capacidad para {{capacidad}} estudiantes</p>
                </div>
                </div>
            </a>

            {{else}}
                <div class="alert alert-warning text-center" role="alert">
                     No se encontraron registros
                </div>
            {{/each}} 
    </div>
  </div>
</body>