<form method="POST" action="">
    <div class="container">
    <div class="row g-5">
        <div class="col-sm-6">
            <label for="campo" class="form-label">Buscar usuario</label>
            <input type="text" class="form-control" name="campo" placeholder="" value="">
        </div>

        <div class="col-sm-4">
            <label for="idarea" class="form-label">Tipo</label>
            <select class="form-select"  onchange="table()" id="user" required>
              <option value="Docentes">Docentes</option>
              <option value="Personal">Personal del laboratorio</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid area.
            </div>
        </div>

        <div class="col-sm-2">
            <a class="w-10 btn btn-primary btn-lg" href="">Buscar</a>
        </div>
    </div>
</div>
</form>
<br>

<table class="table d-none" id="tabledocentes">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">Num. Tarjeta</th>
            <th scope="col" class="text-center">Nombre(s)</th>
            <th scope="col" class="text-center">Apellido Paterno</th>
            <th scope="col" class="text-center">Apellido Materno</th>
            <th scope="col" class="text-center">Departamento</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col" class="text-center">Editar</th>
            <th scope="col" class="text-center">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        
        {{#each docentes}}
            <tr>
                <td class="text-center" scope="row">{{NOTARJETA}}</td>
                <td class="text-center" >{{NOMBRE_PR}}</td>
                <td class="text-center" >{{APPAT_PR}}</td>
                <td class="text-center">{{APMAT_PR}}</td>
                <td class="text-center">{{DEPARTAMENTO}}</td>
                <td class="text-center">{{USER}}</td>
                <td class="text-center"><a class="btn btn-secondary" href="/usuarios/editar/{{NOTARJETA}}"><i class="bi bi-pencil"></i></a></td>
                <td class="text-center"><a class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar?');" href="/usuarios/eliminar/{{NOTARJETA}}"><i class="bi bi-trash3"></i></a></td>
              </tr>

            {{else}}
                    <div class="container col-md-3 mx-auto"> 
                        <div class="card card-warning text-center">
                            <p>No se encontraron registros</p>
                            <a href="/inventarios/agregar_dispositivo">Agrega uno</a>
                        </div>
                    </div>
                 {{/each}} 
        
    </tbody>
</table> 

<table class="table d-none" id="tablepersonal">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">Num. Tarjeta</th>
            <th scope="col" class="text-center">Nombre(s)</th>
            <th scope="col" class="text-center">Apellido Paterno</th>
            <th scope="col" class="text-center">Apellido Materno</th>
            <th scope="col" class="text-center">Puesto</th>
            <th scope="col" class="text-center">Turno</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col" class="text-center">Editar</th>
            <th scope="col" class="text-center">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        
        {{#each personal}}
            <tr>
                <td class="text-center" scope="row">{{NOTARJETAP}}</td>
                <td class="text-center" >{{NOMBRE_PER}}</td>
                <td class="text-center" >{{APPAT_PER}}</td>
                <td class="text-center">{{APMAT_PER}}</td>
                <td class="text-center">{{PUESTO}}</td>
                <td class="text-center">{{TURNO}}</td>
                <td class="text-center">{{USER}}</td>
                <td class="text-center"><a class="btn btn-secondary" href="/usuarios/editar/{{NOTARJETAP}}"><i class="bi bi-pencil"></i></a></td>
                <td class="text-center"><a class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar?');" href="/usuarios/eliminar/{{NOTARJETAP}}"><i class="bi bi-trash3"></i></a></td>
            </tr>

            {{else}}
                <div class="container col-md-3 mx-auto"> 
                    <div class="card card-warning text-center">
                        <p>No se encontraron registros</p>
                        <a href="/inventarios/agregar_dispositivo">Agrega uno</a>
                    </div>
                </div>
        {{/each}} 
        
    </tbody>
</table> 

<script>
    function table(){
        var tipousuario = document.getElementById("user").value;

        if(tipousuario == "Docentes"){
            document.getElementById("tablepersonal").className = "table d-none";
            document.getElementById("tabledocentes").className = "table";
        }else if(tipousuario == "Personal"){
             document.getElementById("tablepersonal").className = "table";
             document.getElementById("tabledocentes").className = "table d-none";
        }
    } 
</script>