<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container">
      <h2 class="text-center fw mb-2 text-uppercase">Control de inventario</h2>
        <h4 class="fw mb-3 text-uppercase">Agregar nuevo equipo de cómputo</h4>

        <form class="needs-validation" action="/inventarios/agregar_pc" method="POST">
            <h5 class="fw mb-2">Ingresa los datos del equipo</h5>
            <div class="row row-cols-2">            
                    <div class="mb-3">
                        <label for="noserie" class="form-label">No. de serie: </label>
                        <input type="text" class="form-control" id="noserie" name="noserie"  onkeyup="this.value = this.value.toUpperCase();">
                        <div id="noserieHelp" class="form-text">Ingrese el numero de serie que incluye el equipo.</div>
                    </div>

                    <div class="mb-3">
                        <label for="noinv" class="form-label">Numero de inventario: </label>
                        <input type="text" class="form-control" id="noinv" name="noinv" onkeyup="this.value = this.value.toUpperCase();">
                        <div id="noinvHelp" class="form-text">Ingrese el numero de inventario proporcionado por la institución.</div>
                    </div>

                    <div class="mb-3">
                      <label for="marca" class="form-label">Marca</label>
                      <input type="text" class="form-control" name="marca" placeholder="" value="" required onkeyup="this.value = this.value.toUpperCase();">
                    </div>

                     <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="form-select" onchange="select()" id="tipo" name="tipo" required>
                          <option value="ALL IN ONE">All in One</option>
                          <option value="COMPUESTO">Compuesto</option>
                        </select>
                        <div class="invalid-feedback">
                          <div id="areaHelp" class="form-text">Ingrese el tipo de equipo a agregar.</div>
                        </div>
                    </div>

                    <div id="compuesto" class="mb-3 d-none">
                      <div class="col-12">
                        <label for="" class="form-label">Folio del Monitor: </label>
                        <select class="form-select" name="monitor">
                          <option value=""></option>
                        {{#each monitores}}
                          <option value="{{noserie}}">{{tipo}} Num inventario: {{noinv}}</option>
                        {{/each}} 
                      </select>
                        <div class="invalid-feedback">
                          Introduce el Folio del monitor.
                        </div>
                      </div>
                    </div>
                  
                    <div class="mb-3">
                      <label for="" class="form-label">Folio del Mouse: </label>
                      <select class="form-select" name="mouse" required>
                        {{#each mouse}}
                          <option value="{{noserie}}">{{tipo}} Num inventario: {{noinv}}</option>
                        {{/each}} 
                      </select>
                      <div class="invalid-feedback">
                        Introduce el Folio del mouse
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="" class="form-label">Folio del Teclado: </label>
                      <select class="form-select" name="teclado" required>
                        {{#each teclados}}
                          <option value="{{noserie}}">{{tipo}} Num inventario: {{noinv}}</option>
                        {{/each}} 
                      </select>
                      <div class="invalid-feedback">
                        Introduce el Folio del teclado.
                      </div>
                    </div>
                </div>

                    <div class="mb-3">
                        <label for="tipo" class="form-label">Area a la que pertenece: </label>
                        <select class="form-select" name="idarea" required>
                        {{#each areas}}
                          <option value="{{idarea}}">{{nombre}}</option>
                        {{/each}} 
                      </select>
                    </div>
                     <button type="submit" class="btn btn-primary d-flex justify-content-center">¡Listo!</button>
            </div>
          </form>
    </div>
 </main>
</body>

<script>
    function select(){
        var tipo = document.getElementById("tipo").value;

        if(tipo == "COMPUESTO"){
            document.getElementById("compuesto").className = "";
        }else if(tipo == "ALL IN ONE"){
             document.getElementById("compuesto").className = "d-none";
        }
    } 
</script>
