<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container w-100">

        <form method="POST" action="">
            <h4 class="fw mb-3 text-uppercase">Listado de dispositivos</h4>
            <div class="container">

        <table class="table" id="mouse">
            <thead class="table-dark">
                <tr>
                    
                    <th scope="col" class="text-center">Num. Serie</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Num inventario</th>
                    <th scope="col" class="text-center">Editar registro</th>
                    <th scope="col" class="text-center">Borrar registro</th>
                </tr>
            </thead>
            <tbody>
                {{#each equipos}}
                    <tr>
                        <td class="text-center" scope="row">{{noserie}}</td>
                        <td class="text-center">{{nombre}}</td>
                        <td class="text-center" >{{marca}}</td>
                        <td class="text-center">{{tipo}}</td>
                        <td class="text-center">{{descripcion}}</td>
                        <td class="text-center">{{noinv}}</td>
                        <td class="text-center"><a class="btn btn-secondary" href="listar_dispositivos/editar/{{noserie}}"><i class="bi bi-pencil"></i></a></td>
                        <td class="text-center"><a class="btn btn-danger" href="listar_perifericos/eliminar/{{noserie}}"><i class="bi bi-trash3"></i></a></td>
                    </tr>
                    <br><br>
                {{/each}} 
                
            </tbody>
        </table>

<!--->
        <script>
            function table(){
                var tipo = document.getElementById("tipo").value;

                if(tipo == "MONITOR"){
                    document.getElementById("mouse").className = "table d-none";
                    document.getElementById("teclado").className = "table d-none";
                    document.getElementById("monitor").className = "table";
                }else if(tipo == "MOUSE"){
                    document.getElementById("mouse").className = "table";
                    document.getElementById("teclado").className = "table d-none";
                    document.getElementById("monitor").className = "table d-none";
                }else if(tipo == "TECLADO"){
                    document.getElementById("mouse").className = "table d-none";
                    document.getElementById("teclado").className = "table";
                    document.getElementById("monitor").className = "table d-none";
                }
            } 
        </script>