<form method="POST" action="/links/inventarios/buscar">
    <div class="container">
    <div class="row g-5">
        <div class="col-sm-6">
            <label for="campo" class="form-label">Buscar periferico</label>
            <input type="text" class="form-control" name="campo" placeholder="" value="">
        </div>

        <div class="col-sm-4">
            <label for="idarea" class="form-label">Area a la que pertenece</label>
            <select class="form-select" name="idarea" required>
              <option value="0">Todas</option>
              <option value="1">MONITOR</option>
              <option value="2">MOUSE</option>
              <option value="3">TECLADO</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid area.
            </div>
        </div>

        <div class="col-sm-2">
            <a class="w-10 btn btn-primary btn-lg" href="">Buscar</a>
        </div>
    </div>
</div>
</form>
<br>
<table class="table">
    <thead class="table-dark">
        <tr>
            
            <th scope="col" class="text-center">Num. Serie</th>
            <th scope="col" class="text-center">Marca</th>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col" class="text-center">Estado</th>
            <th scope="col" class="text-center">Ediitar registro</th>
            <th scope="col" class="text-center">Borrar registro</th>
        </tr>
    </thead>
    <tbody>
        {{#each perifericos}}
            <tr>
                <td class="text-center" scope="row">{{noserieper}}</td>
                <td class="text-center" >{{marca}}</td>
                <td class="text-center">{{tipo}}</td>
                <td class="text-center">{{estado}}</td>
                <td class="text-center"><a class="btn btn-danger" href="listar_perifericos/eliminar/{{noserieper}}"><i class="bi bi-trash3"></i></a></td>
                <td class="text-center"><a class="btn btn-secondary" href="listar_perifericos/editar/{{noserieper}}"><i class="bi bi-pencil"></i></a></td>
            </tr>

            {{else}}
            <br><br>
            <div class="col-md-4 mx-auto"> 
                <div class="card card-body text-center">
                    <p>No se encontraron registros</p>
                    <a href="/inventarios/agregar_periferico">Agrega uno</a>
                </div>
            </div>
        {{/each}} 
        
    </tbody>
</table> 