<body class="bg-dark d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 container w-100">

        <form method="POST" action="">
            <h4 class="fw mb-3 text-uppercase">Listado de insumos</h4>
            <div class="container">
            <div class="row g-3">
                <div class="col-sm-5">
                    <label for="campo" class="form-label">Buscar periferico</label>
                    <input type="text" class="form-control" name="campo" placeholder="" value="">
                </div>

                <div class="col-sm-4">
                    <label for="" class="form-label">Tipo</label>
                    <select class="form-select" id="buscartipo" onchange="buscar()" required>
                        <option value="">TODOS</option>
                        <option value="MOUSE">MOUSE</option>
                        <option value="TECLADO">TECLADO</option>
                        <option value="MONITOR">MONITOR</option>
                    </select>
                    <div class="invalid-feedback">
                    Please select a valid area.
                    </div>
                </div>

                <div class="col-3 d-grid gap-2 d-md-block">
                    <br>
                    <a class="btn btn-primary" href="/inventarios/buscar">Buscar</a>
                    <a class="btn btn-primary" href="/inventarios/agregar_periferico">Nuevo</a>
                </div>
            </div>
        </div>
        </form>
    <hr>
        <table class="table" id="tabla">
            <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">Num. Serie</th>
                    <th scope="col" class="text-center">Num inventario</th>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Marca</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Editar registro</th>
                    <th scope="col" class="text-center">Borrar registro</th>
                </tr>
            </thead>
            <tbody>
                {{#each equipos}}
                    <tr>
                        <td class="text-center" scope="row">{{noserie}}</td>
                        <td class="text-center" >{{noinv}}</td>
                        <td class="text-center">{{tipo}}</td>
                        <td class="text-center">{{marca}}</td>
                        <td class="text-center">{{estado}}</td>
                        <td class="text-center"><a class="btn btn-secondary" href="listar_perifericos/editar/{{noserie}}"><i class="bi bi-pencil"></i></a></td>
                        <td class="text-center"><a class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar?');" href="listar_perifericos/eliminar/{{noserie}}"><i class="bi bi-trash3"></i></a></td>
                    </tr>
                {{else}}
                        <div class="alert alert-warning text-center" role="alert">
                             No se encontraron registros
                        </div>
                {{/each}}  
                
            </tbody>
        </table>

  <script>
            function buscar() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                var searchcol = 3;
                input = document.getElementById("buscartipo").value;
                filter = input.toUpperCase();
                filter = filter.trim();
                table = document.getElementById("tabla");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[searchcol];
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }
                }
            }
</script>